
  <h1 class="textCenter">Login</h1>
      <mat-progress-bar
        color="accent"
        mode="indeterminate"
        *ngIf="loading">
      </mat-progress-bar>
  <mat-card>
    <mat-card-content>
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate >
        <mat-form-field id="in_username" [ngClass]="{ 'has-error': f.submitted }">
          <input matInput type="text" name="username" placeholder="Email" id="username" [(ngModel)]="username" required>
          <mat-error>Der Benutzername muss angegeben werden!</mat-error>
        </mat-form-field>
        <mat-form-field id="in_password">
          <input matInput type="password" placeholder="Passwort" name="password" id="password" [(ngModel)]="password"
                 required>
          <mat-error>Das Passwort muss angegeben werden!</mat-error>
        </mat-form-field>
        <div >
          <button mat-raised-button color="primary" [disabled]="loading">Login</button>
          <br>
          <a id="resetPasswordLink" routerLink="{{resetPasswordRoute}}">Passwort vergessen? </a>
        </div>
        <p *ngIf="error" class="mat-input-error">{{error}}</p>
      </form>
    </mat-card-content>
  </mat-card>

