<div class="bottomSpacer">
  <h1>Password ändern</h1>
  <mat-card>
    <form id="password-reset" name="password-reset" fxLayout="column" #f="ngForm"
          (ngSubmit)="f.form.valid && changePassword()">
      <br>
      <mat-input-container>
        <input matInput type="password" placeholder="Neues Passwort" value="" name="password" id="password"
               [(ngModel)]="password"
               required>
        <mat-error>Das Passwort muss mindestens ein Zeichen und darf maximal 24 Zeichen lang sein!</mat-error>
      </mat-input-container>
      <mat-input-container>
        <input matInput type="password" placeholder="Neues Passwort wiederholen" value="" name="passwordRepeat"
               id="passwordRepeat"
               [(ngModel)]="passwordRepeat" required>
        <mat-error>Das Passwort muss mindestens ein Zeichen und darf maximal 24 Zeichen lang sein!</mat-error>
      </mat-input-container>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" type="submit" [disabled]="loading">Ändern</button>
      </div>
      <p *ngIf="error" class="mat-input-error">{{error}}</p>
    </form>
  </mat-card>
</div>
