<h1>Player: {{activePlayer.name}}</h1>
<p>Is Playing: {{activePlayer.state == "Playing"}}</p>
<p>Playlist:</p>
<p *ngFor="let song of activePlayer.playlist">{{song.title}} - TODO Fix Me</p>

<button mat-button (click)="previous()" [disabled]="!canPrevious">Previous</button>
<button mat-button (click)="playPause()" [disabled]="!canPlay">Play</button>
<button mat-button (click)="playPause()" [disabled]="!canPause">Pause</button>
<button mat-button (click)="next()" [disabled]="!canNext">Next</button>
<button mat-button (click)="stop()" [disabled]="!canStop">Stop</button>
