<mat-toolbar color="primary">
  <button mat-button id="btn_back" (click)="action_back()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span id="title">Jukebox</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav id="sidenavContainer" autosize="true" opened="true" hasBackdrop="false" mode="side">

    <mat-nav-list id="sidenavList">
      <mat-list-item (click)="newSidenavToggle()">
        <mat-icon class="noselect">menu</mat-icon>
      </mat-list-item>

      <app-nav-item *ngFor="let item of _navItems"
                    [CurrentItem]="item"
                    (ItemClicked)="navItemClicked()"
                    [IsExpanded]="_isExpanded">
      </app-nav-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
