.gridWrapper{
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

app-current-player-status{
  grid-row: 4;
}

mat-list {
  grid-row: 2;
}

mat-list-item button {
  margin:  0 0 0 auto;
}

mat-form-field {
  grid-row: 1;
  padding: 0 1em;
}
