<mat-toolbar color="primary">
  <button mat-button id="btn_menu" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="title">Jukebox</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav >
    <mat-nav-list>
      <mat-list-item routerLink="auth/login">
        <p>Login</p>
      </mat-list-item>
      <mat-list-item routerLink="auth/register">
        <p>Register</p>
      </mat-list-item>
      <mat-list-item><p>Item 3</p></mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
